html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#634163cc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

}
.welcomeimage {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 700px; 
    height: auto;
}

.content {
    flex-direction: column;
    align-items: left;
    padding: 50px;
    padding-top: 0;
    padding-bottom:10px ;
}

.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 0;

}
.content p{
    font-size: 60px;
    color: #d9bad6;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 0;
}
.content a{ 
    font-size: 23px;
    color:#fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50%;
}
.content a:hover{
    background-color: #fff;
    color:#000;

}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width:auto;
        height:100%
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    height: 60px;
    width: 100%;
    margin-left: auto; 
    background-color: rgb(45, 2, 56); 
    z-index: 999;
    overflow: hidden;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: end;
    margin-right: 12px;
    margin-left: 12px;
    vertical-align: middle;
}

.navbar li {
    display: inline;
    margin-left: 20px; 
}

.navbar li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px; 

}
.explore-more-button {
    display: inline-block;
    padding: 40px 40px;
    color: white; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 60px;
    margin-left: 120px;
    margin-top: 0;
}
#scroll-down-button {
    position: absolute;
    bottom: 20px;
    right: 750px;
    transform: translateX(50%); 
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 999;
}

#scroll-down-button:hover {
    background-color:rgba(0,0,0,0.6);
    border: 20px;
    
}

#exploremore{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #cd9eca

}
#exploremore h1{
    padding: 20px;
    text-align: center;
    color:#fff;
    font-size:50px ;
    font-family:'Times New Roman', Times, serif

}
.text
{
    display: flex;
    flex-direction: column;
}
#exploremore p{
    padding: 10px;
    text-align: center;
    color:#fff;
    font-size: 25px;

}
#exploremore img{
        width: auto;
        height: 800px;
        margin: 0;
    
}


  .footer {
    background-color: #020434;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  #contact { 
    text-align: center; 
} 
 
#contact ul { 
    list-style: none; 
    padding: 0; 
} 
 
#contact ul li { 
    display: inline-block; 
    margin: 0 10px; 
} 
 
#contact ul li a { 
    color: #2579b2; 
    text-decoration: none; 
} 
 
#contact ul li a:hover { 
    text-decoration: underline; 
} 


#chatbot-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 9999;
}
#chatbot-container.open {
    transform: translateX(0);
    height: 60%;
    padding: 20px;
}
#open-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#open-chatbot img {
    max-width: 80px;
}

#close-chatbot {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#chatbot-body {
    padding: 100px;
    overflow-y: auto;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column-reverse; 

}

#chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
}

.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.user-message {
    text-align: right;
}
#user-input {
    width: calc(100% - 80px); /* Adjust width */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#send-button {
    width: 80px; /* Adjust width */
    padding: 10px;
    background-color: #861c48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #45a049;
}
#close-chatbot {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
}

#close-chatbot i {
    color: #333;
    font-size: 20px;
}

#close-chatbot:hover i {
    color: #555;
}
.pink{
    color:#7d0f70
}
